{% extends "common/global_base.html" %}

{% block content %}


<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #1ebfbc;height: 160px;">
    <a class="navbar-brand pl-5" href="#">
        <img src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse w-100" id="navbarSupportedContent" style="background-color: transparent;">
        <ul class="nav justify-content-center" style="margin-left: auto;">
            <li class="nav-item">
                <a class="nav-link text-light active" href="#">Doctors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light " href="#">Appointments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light " href="#">Other Features</a>
            </li>
        </ul>

        <div class="my-2 my-lg-0" style="float: right;text-align: right;margin-left: auto;">
            <button type="button" class="btn btn-link mr-3" onclick="window.location.href='login'"
                style="border: 1px solid;">
                Sign in
            </button>
        </div>

    </div>
</nav>

<!-- Modals -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Select Timeslot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modal1closer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <p style="margin: 2px 0;margin-top: 0.5rem;font-weight: bold;">Select date</p>
                    <div class="input-group date"
                        style="border: 1px solid;color: #6c757d; border-color: #6c757db8;border-radius: 30px; width: fit-content;">
                        <div class="input-group-prepend">
                            <span class="input-group-text"
                                style="background: transparent;border: none;font-size: 12px;">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <!-- <span class="fa fa-calend"></span> -->
                            </span>
                        </div>
                        <input type="text" class="form-control-filter" name="first_name">
                    </div>

                </div>
                <div class="row ml-1">
                    <div class="mr-3">
                        <p style="margin: 2px 0;margin-top: 1.5rem;font-weight: bold;">Start time</p>
                        <div class="input-group time"
                            style="border: 1px solid;color: #6c757d; border-color: #6c757db8;border-radius: 30px; width: 182px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text"
                                    style="background: transparent;border: none;font-size: 12px;">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <!-- <span class="fa fa-calend"></span> -->
                                </span>
                            </div>
                            <input type="time" class="form-control-filter" name="first_name">
                        </div>

                    </div>
                    <div>
                        <p style="margin: 2px 0;margin-top: 1.5rem;font-weight: bold;">End time</p>
                        <div class="input-group time"
                            style="border: 1px solid;color: #6c757d; border-color: #6c757db8;border-radius: 30px; width: 182px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text"
                                    style="background: transparent;border: none;font-size: 12px;">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <!-- <span class="fa fa-calend"></span> -->
                                </span>
                            </div>
                            <input type="time" class="form-control-filter" name="first_name">
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer " style="justify-content: center;margin-top: 1rem;margin-bottom: 0.5rem;">
                <button type="button" onclick="$('#modal1closer').click()" class="btn btn-info"
                    style="border-radius: 10px;padding-left: 1.5rem;padding-right: 1.5rem;" data-toggle="modal"
                    data-target="#exampleModalCenter2">
                    Book now
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter2Title"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenter2Title">Success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Your appointment has been successfully booked.
                <br />
                We have received your request. We'll be in touch soon.
                <br />
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modals -->

<div class="container mt-5">
    <p style="font-size: 22px;border-bottom: 1px solid black;width: fit-content;">
        Welcome to Doctor Appointment
        Portal!
    </p>
    <div>
        <div class="w-100 text-center" style="margin-top: 4rem;">
            <h2 class="font-weight-bold">Our Team Of Doctors</h2>
        </div>

        {# <div class="filters row my-5" style="height: 31px;font-size: 14px !important;justify-content: space-between;">

            <p class="filter-text">Area</p>
            <div class="dropdown">
                <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 11px;">
                    abc street
                </button>
                <div class="dropdown-menu filter-select" aria-labelledby="dropdownMenuButton" x-placement="bottom-start"
                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 34px, 0px);">
                    <a class="dropdown-item" href="#">abc street</a>
                    <a class="dropdown-item" href="#">abc street</a>
                </div>
            </div>

            <p class="filter-text">Hospital</p>
            <div class="dropdown">
                <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 11px;">
                    xyz hospital
                </button>
                <div class="dropdown-menu filter-select" aria-labelledby="dropdownMenuButton" x-placement="bottom-start"
                    style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="#">xyz hospital</a>
                    <a class="dropdown-item" href="#">xyz hospital</a>
                    <a class="dropdown-item" href="#">xyz hospital</a>
                </div>
            </div>

            <p class="filter-text">Category</p>
            <div class="dropdown">
                <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 11px;">
                    Heart Surgeon
                </button>
                <div class="dropdown-menu filter-select" aria-labelledby="dropdownMenuButton" x-placement="bottom-start"
                    style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="#">Heart Surgeon</a>
                    <a class="dropdown-item" href="#">Heart Surgeon</a>
                    <a class="dropdown-item" href="#">Heart Surgeon</a>
                </div>
            </div>

            <div class="input-group"
                style="border: 1px solid;color: #6c757d; border-color: #6c757d;width: auto;border-radius: 5px; width: 275px;height: 30px;margin-left: 20px;">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="background: transparent;border: none;font-size: 12px;">
                        <span class="fa fa-search"></span>
                    </span>
                </div>
                <input type="text" class="form-control-filter" name="first_name"
                    placeholder="Search doctors by name or title">
            </div>

            <div class="btn-group btn-group-toggle" data-toggle="buttons"
                style="height: 30px;margin-left: 10px;border-radius: 7px;">
                <label class="btn btn-outline-info active" style="font-size: 11px;width: 65px;">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked=""> All
                </label>
                <label class="btn btn-outline-info" style="font-size: 11px;width: 65px;">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Male
                </label>
                <label class="btn btn-outline-info" style="font-size: 11px;width: 65px;">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Female
                </label>
            </div>

            <button type="button" class="btn btn-info"
                style="font-size: 11px;border-radius: 20px;padding-left: 25px;padding-right: 25px;margin-left: 14px;">
                Submit
            </button>

        </div> #}

        <div class="container">
            <div class="row my-5">

                <div class="col-md-3 col-sm-6">
                    <div class="card w-100" style="background: transparent;border-radius: 10px;border-color: #1ebfbc;">
                        <div class="card-body w-100 text-center">
                            <img class="card-img-top" src="{{ url_for('static', filename='images/doc5.jpeg') }}" alt="Card image cap"
                                style="height: 91px;width: 91px;margin: 0 auto;border-radius: 50%;object-fit: cover;">
                            <h5 class="card-title mt-2 mb-0">Dr. John Doe</h5>
                            <p class="card-text font-weight-light" style="font-size: 14px;">Heart Surgeon</p>

                            <hr class="solid" style="border: 1px solid rgba(0,0,0,.125);">

                            <button type="button" class="btn btn-outline-info w-100"
                                style="border-radius: 20px;margin-bottom: 1rem;font-size: 14px;"
                                onclick="window.location.href='doctor_profile'">
                                View Profile
                            </button>
                            <button type="button" class="btn btn-info w-100" data-toggle="modal"
                                data-target="#exampleModalCenter"
                                style="border-radius: 20px; margin-bottom: 1rem; font-size: 14px;">
                                Book
                                Appointment
                            </button>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<section id="footer" class="" style="padding: 60px 0;background-color: #1ebfbc;">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left text-light">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Company</h5>
                <ul class="list-unstyled quick-links text-light">
                    <li>
                        <a class="nav-link p-0 font-weight-light text-light" href="#">
                            Home
                        </a>
                    </li>
                    <li>
                        <a class="nav-link p-0 font-weight-light text-light" href="#">
                            About
                        </a>
                    </li>
                    <li>
                        <a class="nav-link p-0 font-weight-light text-light" href="#">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Explore</h5>
                <ul class="list-unstyled quick-links">
                    <li>
                        <a class="nav-link p-0 font-weight-light text-light" href="#">
                            Terms &amp; Conditions
                        </a>
                    </li>
                    <li>
                        <a class="nav-link p-0 font-weight-light text-light" href="#">
                            Privacy Policy
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Social Media</h5>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <ul class="pl-0">
                            <li class="list-inline-item">
                                <a class="nav-link p-0" href="#">
                                    <i class="fa fa-facebook">
                                    </i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="nav-link p-0" href="#">
                                    <i class="fa fa-twitter">
                                    </i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="nav-link p-0" href="#">
                                    <i class="fa fa-instagram">
                                    </i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="nav-link p-0" href="#">
                                    <i class="fa fa-google-plus">
                                    </i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="nav-link p-0" href="#" target="_blank">
                                    <i class="fa fa-envelope">
                                    </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

        <!-- <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
                    <p class="h6">© All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
                </div>
                <hr>
            </div>	 -->
    </div>
</section>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->



{% endblock %}