{% extends "common/global_base.html" %}

{% block content %}

<div class="" style="height: 100vh;">
    <div class="col-md-12 p-0 h-100 row">
        <div class="col-md-5 bg_grey h-100 p-0">
            <img src="{{ url_for('static', filename='images/doc4.jpg') }}" alt="" style="/* border: 1px solid #11a09d; */
                /* border-radius: 40px; */width: 100%;height: 100%;object-fit: fill;">
        </div>

        <div class="col-md-7 h-100 p-0">
            <div class="w-100 p-5 d-flex justify-content-center align-items-center h-100">
                <form action="/signup" method="post" class="w-100">
                <p class="text-danger">{{err_msg}}</p>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <h2 class="" style="padding-bottom: 2rem;">Signup</h2>

                    <div class="">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" name="fullname" placeholder="Full Name"
                                    required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group w-100">
                                <input type="email" class="form-control" name="email" placeholder="Email"
                                    required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" class="form-control" name="password" placeholder="Password"
                                    required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" class="form-control" placeholder="Confirm Password"
                                    required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" name="phone" placeholder="Phone number"
                                    required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" name="date_of_birth" placeholder="Date of Birth"
                                    required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" name="speciality" placeholder="Speciality"
                                    required="required">
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            {# onclick="window.location.href='booking'" #}
                            <button type="submit" class="btn btn-info btn-lg w-100">Create Account</button>
                        </div>
                        <p class="w-100 text-center">Already have an account? <a class="font-weight-bold"
                                href="login">Login
                                here</a></p>
                    </div>


                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}